:root {
	--top-navi-hover-bg-color: WHITE;
	--top-navi-hover-text-color: BLACK;

	--top-navi-sub-list-bg-color: WHITE;
}

/* ID */
#header_wrap {
	height: 98px;
}

/*  CLASS  */
.wrap {
  height: 37px;
  position: relative;
  background: #FFF;
  border-bottom: 1px solid #E9E9E9;
}

/* TOP NAVI 중 배민 찬 앱 다운로드 START */
.top_navi {
	width: 980px;
	margin: 0 auto;
}

.top_navi a {
	height: 17px;
	font-size: 12px;
	color: #666;
	text-align: center;
	text-decoration: none;
}

.link_app {
  float: left;
	padding-top: 10px; padding-bottom: 10px;
	padding-left: 10px;
}

.link_text {
	display: inline;
}
/* TOP NAVI 중 배민 찬 앱 다운로드 END */

/* TOP NAVI 중 사용자 유틸리티(로그인, 로그아웃 등) START */
.util_user {
  float: right;
	padding-top: 10px;
	padding-bottom: 10px;
}

.util_user > li {
  display: inline;
	float: left;
}

.util_user > li:first-child > a {
	background: none;
}

.util_user > li > a {
	display: inline;
	padding: 10px 10px 9px 10px;
	background-image: url("../img/util_bar.gif");
	background-repeat: no-repeat;
	background-position: 0;
}

.shopping_basket {
	font-weight: bold;
}
/* TOP NAVI 중 사용자 유틸리티(로그인, 로그아웃 등) END */

/* 로고 포함된 header START */
.header {
	width: 980px; height: 98px;
	margin: 0 auto;
}

.logo {
	float: left;
	margin-top: 16px;
	margin-left: 5px;
}

.search {
	float: left;
	position: relative;
	margin-top: 30px;g
	margin-left: 46px;
}

.search > input {
	width: 210px;
	height: 40px;
	margin-left: 15px;
	margin-right: 38px;
	border: 1px solid #CFD0DE;
}

.search > button {
	position: absolute;
	width: 38px; height: 38px;
	top: 3px; right: 40px;
	border: none;
	background-image: url("../img/ic_search.png");
	background-repeat: no-repeat;
	background-position: center 0;
}

.top_menu{
	float: right;
	padding-right: 10px;
}

.top_menu > li {
	float: left;
}

.top_menu > li a {
	display: block;
	height: 48px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 50px;
}
/* 로고 포함된 header END */

/* Main 네비 (밑반찬, 국찌개, 메인반찬) START */
#navi_warp {
	display: block;
	background-color: #483f35;
}

.main_navi {
	width: 980px;
	height: 52px;
	margin: 0 auto;
}

.main_navi_list > li {
	position: relative;
	display: inline-block;
	width: 120px; height: 52px;
	float: left;
	text-align: center;
}

.main-navi-item {
	display: inline-block;
	width: 100%; height: 100%;
}

.main-navi-item > p {
	margin-top: 18px;
	color: white;
	font-weight: bold;
}

.main-navi-item:hover {
	background-color: var(--top-navi-hover-bg-color);
	border: 1px solid black;
}

.main-navi-item:hover + .main-navi-sub-list {
	display: block;
}

.main-navi-item:hover p {
	color: var(--top-navi-hover-text-color);
}

.main-navi-sub-list {
	display: none;
	position: absolute;
	left: 0; top: 52px;
	width: 162px;
	padding: 15px 0 31px;
	background-color: var(--top-navi-sub-list-bg-color);
	border: 1px solid rgba(72,63,53,0.6);
	border-top: none;
	z-index: 1000;
}

.navi-sub-list-last {
	left: -24px;
}

.main-navi-sub-list > li {
	text-align: left;
	margin: 6px 25px 3px 0;
}

.navi-sub-list-last > li{
	text-align: right;
}

.main-navi-sub-list > li a {
	display: block;
	color: #555;
	font-size: 14px;
	height: 1.2em;
	padding: 6px 0 3px 25px;
	text-decoration: none;
}

.main_navi_list > li:nth-child(8) {
	height: 52px;
	background-color: #362d25;
}

.main_navi_list > li > a > span {
	display: inline-block;
	height: 36px;
	padding-top: 19px;
	padding-left: 30px; padding-right: 25px;
}
/* Main 네비 (밑반찬, 국찌개, 메인반찬) END */

/* 메인 컨테이너(배너 및 화살표) START */
#container {
	position: relative;
}

.main_banner {
	max-width: 1920px; height: 420px;
	background-image: url("../img/banner_1.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.main_banner_slider {
	display: block;
}

.slide {
	width: 60px; height: 92px;
	position: absolute;
	top: 50%;
	margin-top: -46px;
	background-image: url("../img/main_slides_navi.png");
	background-repeat: no-repeat;
	background-position: center;
}

.slide_prev {
	left: 50%;
	margin-left: 530px;
	background-position: right center;
}

.slide_next {
	right: 50%;
	margin-right: 530px;
	background-position: left center;
}
/* 메인 컨테이너(배너 및 화살표) END */

/* 서브 컨테이너(배너) START */
#sub_container {
	display: block;
}

.sub_banner {
	width: 980px; height: 240px;
	margin: 0 auto;
	padding: 50px 10px;
}

.small_banner {
	float: left;
}

.sub_banner_1 {
	padding-right: 35px;
}
/* 서브 컨테이너(배너) END */

/* 서브 네비게이션+콘텐츠 영역 START */
#best_seller_container {
	display: block;
	height: 700px;
	background-color: #EEE;
}

.food_box_list {
	width: 980px; height: 100%;
	margin: 0 auto;
}

.food_box_title {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.food_box_title > h2 {
	color: #999;
	font-size: 18px;
	padding-bottom: 15px;
}

.food_box_title p {
	display: inline;
	font-size: 30px;
}

.food_box_title > p:nth-child(3) {
	font-weight: bold;
}
/* 서브 네비게이션+콘텐츠 영역 END */

/* 서브 콘텐츠 영역 (+탭) START */
.food_tab_list {
	height: 48px;
}

.food_tab_list > li {
	display: inline-block;
	width: 156.7px; height: 33px;
	background-color: white;
	color: #777;
	font-size: 15px;
	text-align: center;
	padding-top: 20px;
}

.food_tab_list > li:nth-child(1) {
	background-color: #5FC8C6;
	color: white;
	font-weight: bold;
}
/* 서브 콘텐츠 영역 (+탭) END */

/* 서브 네비게이션+콘텐츠 영역 (베스트셀러) START */
.best_food_list {
	width: 960px;
	padding-top: 30px;
}

.best_food_list > li:nth-child(3) {
	float: right;
	margin-right: 0px;
}

.food_box {
	float: left;
	min-height: 440px;
	background: white;
	margin-right: 24px;
	border-bottom: 1px solid #D7D7D7;
}

.food_image {
	width: 304px;
}

.food_image > img {
	width: 100%;
}

.food_description {
	padding: 16px;
	padding-bottom: 6px;
	text-align: left;
}

.food_description > dt {
	font-size: 17px;
	padding-bottom: 11px;
	letter-spacing: -0.07em;
	font-weight: bold;
}

.food_description > dd:nth-of-type(1) {
	font-size: 13px;
	padding-bottom: 8px;
	color: #666;
}

.food_description > dd:nth-of-type(2) {
	padding-bottom: 7px;
}

.star_score_bg {
	position: relative;
	display: inline-block;
	width: 67px; height: 12px;
	background-image: url("../img/ico-review-star.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: auto 24px;
}

.start_score {
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	background-image: url("../img/ico-review-star.png");
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: auto 24px;
}

.review_count {
	display: inline-block;
	font-size: 14px;
	color: #999;
}

.selling_price {
	display: inline;
	font-size: 26px;
	color: #2ac1bc;
	font-weight: 500;
	letter-spacing: -0.04em;
}

.sales_unit {
	position: relative;
	font-size: 14px;
	color: #2ac1bc;
	font-weight: 600;
}
/* 서브 네비게이션+콘텐츠 영역 (베스트셀러) END */

/* 서브 콘텐츠 (배민찬 추천) 영역 START */
.food_recommend_wrap {
	position: relative;
	height: 550px;
	padding: 50px 0px;
}

.food_recommend_content {
	width: 980px; height: 500px;
	margin: 0 auto;
	text-align: center;
}

.food_recommand_title > h2 {
	font-size: 18px;
	color: #999;
	margin-bottom: 8px;
}

.food_recommand_title > p {
	font-size: 36px;
	padding-bottom: 10px;
}

.food_recommend_list {
	margin-top: 15px;
}

.food_recommend_item {
	float: left;
	width: 215px;
	margin: 0 10px;
	background-color: white;
}

.food_recommend_image {
	position: relative;
	overflow: hidden;
	width: 100%; height: 215px;
	border-radius: 50%;
}

.food_recommend_image > img {
	max-width: 100%;
	position: absolute;
	left: 0;
}

.food_recommend_description > dl > dt {
	font-size: 16px;
}

.food_recommend_badge {
	width: 100%; height: 24px;
}

.badge {
	width: 52px; height: 10px;
	display: inline-block;
	background: #c6a8a5;
	color: #FFF;
	font-size: 11px;
	padding-top: 6px;
	padding-bottom: 5px;
}

.event {
	width: 62px;
}

.recommend_slider {
	width: 28px; height: 52px;
	background: url("../img/btn_prds_thumb_slides_navi.png");
	top: 53%;
}

.r_prev {
	left: 17%
}

.r_next {
	background-position: top right;
	right: 20%;
}

.btn_more {
	display: block;
	width: 960px; height: 35px;
	margin: 0 auto;
	border: 1px solid;
	border-color: #B4B4B4;
	text-align: center;
	padding-top: 18px;
}

.btn_more > span {
	display: inline-block;
	width: 170px;
	background: url("../img/btn_arr_more.png");
	background-repeat: no-repeat;
	background-position: right;
}
/* 서브 콘텐츠 (배민찬 추천) 영역 END */

/* 하단 소개영역 START */
.bottom_wrap {
	display: block;
	height: 240px;
	border: 1px solid #E1E1E1;
}

.bottom_content {
	width: 960px; height: 100%;
	margin: 0 auto;
	margin-top: 50px;
	/* background-color: black; */
}

.quick_menu_box {
	width: 300px; height: 140px;
	float: left;
}

.quick_menu_content {
	width: 149px; height: 69px;
}

.quick_menu_box > li:nth-of-type(2n+1) {
	float: left;
}

.quick_menu_box > li:nth-of-type(2n+2) {
	width: 150px;
	float: right;
}

.quick_image {
	background-image: url("../img/icon-quick-menu.png");
	width: 50px; height: 50px;
	margin: 0 auto;
}

.quick_menu_content > p {
	font-size: 12px;
	color: #757575;
	text-align: center;
}

.quick_menu_img_2 {
	background-position: left 33%;
}

.quick_menu_img_3  {
	background-position: left 64%;
}

.quick_menu_img_4 {
	background-position: left 98%;
}

.right_border {
	border-right: 1px solid #CCC;
}

.bottom_border {
	border-bottom: 1px solid #CCC;
}

.notice_box {
	position: relative;
	width: 400px; height: 140px;
	float: left;
	margin-left: 35px;
}

.notice_box > h2 {
	padding-left: 15px;
	padding-bottom: 15px;
	font-weight: bold;
}

.notice_list {
	list-style: square;
	margin-left: 20px;
	font-size: 13px;
}

.notice_list > li {
	padding-bottom: 17px;
	color: #333;
}

.notice_more {
	display: inline-block;
	width: 48px; height: 23px;
	position: absolute;
	top: 0; right: 0;
	background-image: url("../img/foot_btn_more.gif");
}

.cs_center_box {
	width: 220px; height: 140px;
	float: right;
	text-align: right;
}

.cs_center_box > h2 {
	font-size: 16px;
	padding-bottom: 5px;
}

.cs_center_box > p {
	font-size: 36px;
	letter-spacing: -0.06em;
	padding-bottom: 10px;
}

.cs_center_info {
	font-size: 14px;
}

.cs_center_info > dd {
	padding-bottom: 5px;
}

.cs_center_info > dd:nth-of-type(3) {
	font-size: 13px;
	color: #999;
}

.cs_center_info > dd:nth-of-type(3) > p:nth-of-type(2) {
	margin-top: 5px;
}

/* 하단 소개영역 END */
.footer {
	display: block;
	height: 250px;
}

.footer_content {
	position: relative;
	width: 960px; height: 240px;
	margin: 0 auto;
	color: #666;
}

.footer_navi {
	width: 960px; height: 12px;
	font-size: 14px;
	padding-top: 35px; padding-bottom: 22px;
}

.footer_navi > li {
	display: inline;
	float: left;
	padding: 0 10px;
	font-weight: 400;
	background-image: url("../img/util_bar.gif");
	background-repeat: no-repeat;
}

.footer_navi > li:nth-child(1) {
	background: none;
}

.footer_info_list {
	width: 820px; height: 60px;
	font-size: 13px;
	color: #999;
}

.footer_info_list > li {
	display: inline-block;
	padding-left: 9px;
	padding-right: 6px;
	background-image: url("../img/util_bar.gif");
	background-repeat: no-repeat;
	background-position: left;
	margin-bottom: 6px;
}

.copyright {
	padding-top: 15px;
	padding-bottom: 25px;
	font-size: 14px;
}

.bottom_copy {
	font-size: 14px;
	color: #999;
}

.bottom_copy > p {
	font-size: 13px;
	padding-bottom: 5px;
}

.sns_box {
  height: 50px;
	position: absolute;
	top: 31px; right: 0;
}

.sns {
	display: inline-block;
	width: 50px; height: 50px;
	background-repeat: no-repeat;
	background-position: right;
	padding-left: 5px;
}

.instagram {
	background-image: url("../img/sns_instagram.png");
}

.facebook {
	background-image: url("../img/sns_facebook.png");
}

.scroller {
	position: fixed;
	right: 15%; bottom: 70px;
}

.page_up_down_list > li {
	display: block;
}

.page_up_btn {
	width: 50px; height: 50px;
	background-image: url("../img/btn_page_up_down_new.png");
	background-repeat: no-repeat;
	background-position: left top;
}

.page_down_btn {
	width: 50px; height: 50px;
	background-image: url("../img/btn_page_up_down_new.png");
	background-repeat: no-repeat;
	background-position: left 100%;
}

/* ETC */
.icon {
  display: inline-block;
  zoom: 1;
  width: 7px;
  height: 14px;
  background: url("../img/bul_arr_down.png") no-repeat center 0px;
}

.text_center {
	text-align: center;
}

.thin {
	font-family: "KakaoOTF-aLt";
}

.first {
	background: none !important;
	padding-left: 0 !important;
}

.last {
	background: none;
}
