.nav--top {
  border-bottom: 1px solid #e9e9e9;
}

.menu {
  display: inline-block;
}

.menu > * {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  padding: 10px 0 10px 10px;
}

.menu > *:not(:last-child):after {
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 1px;
  height: 10px;
  margin-top: -2px;
  margin-left: 10px;
  border-right: 1px solid #cfd0d2;
}

.header--main > * {
  display: inline-block;
  vertical-align: middle;
}

.banner-text {
  text-decoration: none;
  color: #2ac1bc;
  font-size: 13px;
  font-weight: 600;
}

.banner-text .strong {
  display: block;
  font-size: 26px;
  color: #333;
}

.header--main .logo {
  padding: 13px 0;
  margin-right: 46px;
}

.header--main .links {
  display: inline-block;
  padding: 25.5px 0;
}

.header--main .links > * {
  display: inline-block;
}

.header--main .links > *:not(:last-child) { margin-right: 45px; }

.form-search {
  border: 1px solid #cfd0d2;
}

.form-search input[type="text"] {
  border:none;
  width: 170px;
  height: 38px;
  padding-left: 15px;
}

.btn-search {
  background-image: url(../img/ic_search.png);
  background-position: center 0;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  padding: 1px;
  border: 0;
  cursor: pointer;
}

.btn-search:hover {
  background-position: center 100%;
}

.nav--main {
  background: #483f35;
}

.menu--main > * {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 17px 25px;
  cursor: pointer;
  color: #FFFFFF;
}

.menu--main__special {
  padding-left: 40px;
  padding-right: 40px;
  background: #362d25;
}
