body {
  margin: 0;
  max-width: 1280px;
}

ol, ul {
  list-style: none;
}

header {
  height: 140px;
}
.top{
  height:40px;
  box-sizing: border-box;
  border: 1px solid #d0d0d0;
}

.app_download{
  float: left;
  height: 38px;
  margin-left: 150px;
  font-size: 0.8em;
}
.app_download a {
  text-decoration: none;
  color:#878696;
}

.cm_bar{
  float: right;
  padding: 0px 10px;
  margin-right: 150px;
}

.cm_bar li{
  float:left;
  text-align: center;
  margin: 0px 5px;
  font-size: 0.7em;
  height: 38px;
  line-height: 38px;
}
.cm_bar a {
  text-decoration: none;
  color:#878696;
}

/* Header */
.header{
  height: 100px;
}

.logo{
  padding-left:150px;
  line-height: 100px;
  float: left;
}

.main_search {
  float: left;
	position: relative;
	top: 50%;
  transform: translateY(-50%);
  margin-left: 30px;
  border: 1px solid #cbcbd4;
}

.search_icon {
  vertical-align: middle;
  width: 20px;
  margin: 8px;
}

.header_bar {
  height: 100px;
}
.header_bar a {
  line-height: 100px;
}
.header_bar img {
  vertical-align: middle;
  margin-left: 15px;
}

/* nav */

.nav {
  height: 50px;
  background-color:#4c4e4a;
}

.nav_bar {
  width: 980px;
  height: 50px;
  margin: auto;
  float: none;
  font-size: 25px;
}

.nav_bar a{
  display: block;
  width: 110px;
  line-height: 50px;
}

.nav_bar span {
  color:#fff;
}

/* promotion */
.promotion_wrap {
  height: 400px;
}

.promotion_wrap img {
  width: 1280px;
  height: 400px;
}

/* news */
.news_wrap {
  height: 300px;
  text-align: center;
}

.news_item {
  height: 240px;
  width: 400px;
  display: inline-block;
  margin: 40px 15px;
  overflow: hidden;
}

.news_item:nth-child(2) {
  border: 5px solid #cccccc;
  box-sizing: border-box;
}
.news_item a{
  display: block;
  width: inherit;
  height: inherit;
}

.news_item img{
  display: block;
  width: inherit;
  height: inherit;
}

.news_item_sp1{
  display: block;
  color: #878696;
  font-weight: 600;
  margin: 20px;
  font-size: 15px;
}

.news_item_sp2{
  display: block;
  font-weight: 600;
  margin: 25px 30px;
  font-size: 30px;
}
.news_item>img{
  width: 50px;
  height: 50px;
  margin: auto;
}