:root {
  --bamin-color: #2ac1bc
}

/* helpers */
.align_helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}


/* sub header */
.header_sub {
  box-sizing: border-box;
  padding: 0px 150px;
  height: 36px;
  border-bottom: 1px solid #ccc;
  color: #666;
  font-size: 0.8rem;
}

.download {
  box-sizing: border-box;
  float: left;
  padding: 10px 0px;
}

.info {
  box-sizing: border-box;
  float: right;
  padding: 10px 0px;
}

.info > li {
  float: left;
  padding: 0px 10px;
  border-right: 1px solid #ccc;
}

.info > li:nth-last-child(1) {
  border: 0px;
  font-weight: bold;
}

.info img, .download img {
  vertical-align: middle;
}


/* main header */
.header_main {
  padding: 0px 150px;
  height: 98px;
}

.logo {
  height: 98px;
  width: 194px;
  float: left;
}

.logo > img {
  vertical-align: middle;
}

.search_bar_wrap {
  box-sizing: border-box;
  width: 270px;
  float: left;
  padding: 27px 0px;
}

.search_bar {
  box-sizing: border-box;
  width: 220px;
  height: 43px;
  border: 1px solid #b3b1b1;
  padding: 11px 10px;
  margin: auto;
}

.search_bar img {
  vertical-align: middle;
  float: right;
}

.shortcuts {
  float: right;
  text-align: center;
  height: 98px;
}

.shortcuts > li {
  width: 120px;
  height: 100%;
  margin-right: 40px;
  float: left;
}

.shortcuts img {
  vertical-align: middle;
}

.shortcuts > li:nth-last-child(1) {
  margin-right: 0px;
}


/* navigation */
.menu_navigation {
  height: 52px;
  background: #483f35;
  padding: 0px 150px;
  font-weight: bold;
}

.menu_navigation > ul {
  height: 100%;
  width: 100%;
}

.menu {
  color: white;
  padding: 18px 28px;
  float: left;
  margin-right: 20px;
  position: relative;
}

.menu_navigation .menu:nth-last-child(1) {
  margin: 0px;
  float: right;
  background: #2b2521;
}


/* menu_layer */
.menu:hover .menu_layer_upper, .menu:hover .menu_layer_lower {
  display: block;
}

.menu_layer_upper {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 5px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #2ac1bc;
  padding: 13px 28px;
  margin-right: 20px;
}

.menu_layer_lower {
  display: none;
  top: 52px;
  left: 0px;
  width: 130px;
  background: #ffffff;
  color: #000;
  padding: 30px 25px;
  position: absolute;
  z-index: 1;
}

.sub_menu {
  height: 1.2rem;
  font-weight: normal;
  font-size: 0.9rem;
  color: #483f35;
  margin-bottom: 0.5rem;
}

.sub_menu:nth-last-child(1) {
  margin: 0px;
}

.sub_menu:hover {
  font-size: 1rem;
  font-weight: bold;
  color: #2ac1bc;
  text-decoration: underline;
  cursor: pointer;
}


/* ad_section */
.ad_wrap {
  height: 420px;
  position: relative;
}

.ad_img_wrap {
  overflow: hidden;
  text-indent: -25%;
}

.ad_img {
  max-height: 100%;
  position: absolute;
}

.ad_left_button, .ad_right_button, .ad_navigator_wrap {
  position: absolute;
}

.ad_left_button, .ad_right_button {
  top: 180px;
  width: 55px;
  height: 90px;
}

.ad_left_button:hover, .ad_right_button:hover {
  cursor: pointer;
}

.ad_left_button {
  left: 30px;
  background: no-repeat left top/225% url(../images/ad_left_right_button.png);
}

.ad_right_button {
  right: 30px;
  background: no-repeat right top/225% url(../images/ad_left_right_button.png);  
}

.ad_navigator_wrap {
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ad_navigator_button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  border: 1px solid #ccc;
  margin-right: 10px;
  float: left;
}

.ad_navigator_button:nth-last-child(1) {
  margin-right: 0px;
}

.ad_navigator_button:hover {
  background: #fff;
  cursor: pointer;
}

.active_ad_navigator_button {
  background: #fff;
}

.visible_ad {
  display: inline-block;
}

.fade_in {
  opacity: 1;
  transition: opacity 1s;
}

.fade_out {
  opacity: 0;
  transition: opacity 1s;
}

.opacity_zero {
  opacity: 0;
}


/* notice_section */
.notice {
  box-sizing: border-box;
  height: 350px;
  padding: 55px 150px;
}

.new_dishes, .delivery_system {
  height: 100%;
  width: 48%;
  position: relative;
}

.new_dishes {
  float: left;
  overflow: hidden;
}

.delivery_system {
  float: right;
  overflow: hidden;
}

.new_dishes_img, .delivery_system_img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.notice_left_button, .notice_right_button {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  width: 31px;
  height: 53px;
  transition: opacity 0.5s;
  opacity: 0;
}

.new_dishes:hover .notice_left_button, .new_dishes:hover .notice_right_button, .delivery_system:hover .notice_left_button, .delivery_system:hover .notice_right_button {
  transition: opacity 0.5s;
  opacity: 1;
}

.notice_left_button:hover, .notice_right_button:hover {
  cursor: pointer;
}

.notice_left_button {
  left: 15px;
  background: no-repeat  url(../images/notice_left_button.png);
}

.notice_right_button {
  right: 15px;
  background: no-repeat  url(../images/notice_right_button.png);
}

.notice_navigator_wrap {
  position: absolute;
  top: 20px;
  right: 20px;
}

.notice_navigator_button {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  border: 1px solid #dedede;
  margin-right: 5px;
  float: left;
}

.notice_navigator_button:hover {
  cursor: pointer;
  background: #fff;
}

.active_notice_navigator_button {
  background: #fff;
}


/* 베스트 반찬 */
.best_dish_section {
  height: 611px;
  padding: 60px 150px;
  background: #eee;
}

.best_dishes_nav {
  width: 100%;
  height: 45px;
  margin-bottom: 34px;
  font-weight: bold;
  font-size: 1rem;
  color: #666;
  text-align: center;
}

.best_dishes_nav_category {
  box-sizing: border-box;
  height: 100%;
  width: 163px;
  float: left;
  background: #ffffff;
  padding: 15px 0px;
  border-right: 1px solid #eee;
}

.best_dishes_nav_category:hover, .ativated_best_dishes_nav {
  color: #ffffff;
  background: #2ac1bc;
  cursor: pointer;
}

.best_dishes_nav > .best_dishes_nav_category:nth-last-child(1) {
  border: 0px;
}

.best_dishes_wrap {
  width: 100%;
  height: 422px;
}

.best_dishes {
  display: none;
}

.visible {
  display: block;
}

.best_dish {
  height: 100%;
  width: 304px;
  float: left;
  margin-right: 34px;
  position: relative;
}

.best_dishes > .best_dish:nth-last-child(1) {
  margin-right: 0px;
}

.best_dish_img_wrap {
  width: 100%;
  height: 304px;
}

.best_dish_img {
  max-width: 100%;
  max-height: 100%;
}

.best_dish_description {
  box-sizing: border-box;
  width: 100%;
  height: 118px;
  padding: 15px;
  background: #ffffff;
}

.best_dish_name {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.best_dish_slogan {
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
  color: #888;
}

.best_dish_name, .best_dish_slogan {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.best_dish_price_wrap {
  text-align: right;
}

.best_dish_origin_price, .best_dist_sales_price, .best_dish_price_wrap > .price_unit {
  vertical-align: middle;
}

.best_dist_origin_price {
  font-size: 1rem;
  color: #888;
  text-decoration: line-through;
  margin-right: 8px;
}

.best_dist_sales_price {
  font-size: 1.4rem;
  font-weight: bold;
  color: #2ac1bc;
  margin-right: 2px;
}

.best_dish_price_wrap > .price_unit {
  font-size: 0.8rem;
  font-weight: bold;
  color: #2ac1bc;
}

.best_dish_stars {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #888;
}

.review_stars {
  display: inline-block;
  width: 70px;
  height: 20px;
}

.review_stars img {
  max-width: 100%;
  max-height: 100%;
}

.badge_1, .badge_2 {
  position: absolute;
  top: 272px;
  left: 10px;
  background: #8b3f92;
  color: #ffffff;
  font-size: 0.8rem;
  padding: 5px 6px;
}

.badge_2 {
  left: 80px;
  background: #cc2642
}


/* main section */
.main_section {
  padding: 60px 150px;
  position: relative;
}

.section_category, .section_description {
  font-family: "Noto Sans KR Light", sans-serif;
}

.section_category {
  text-align: center;
  font-size: 1.2rem;  
  margin-bottom: 0.5rem;  
  color: #888;
}

.section_description {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}

.section_description > span {
  font-weight: bold;
}

.section_left_button, .section_right_button {
  position: absolute;
  top: 250px;
  width: 35px;
  height: 55px;
}

.section_left_button {
  left: 70px;
  background: no-repeat top left/250% url(../images/main_section_button.png);
}

.section_right_button {
  right: 70px;
  background: no-repeat top right/250% url(../images/main_section_button.png);
}

.section_left_button:hover, .section_right_button:hover {
  cursor: pointer;
}

.main_section_list {
  width: 980px;
  white-space: nowrap;
  overflow: hidden;
}

.main_section_list_item {
  box-sizing: border-box;
  width: 25%;
  padding: 20px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.main_section_list_item_img_wrap {
  position: relative;
  border-radius: 50%;
  width: 205px;
  height: 205px;
  background: #999;
  overflow: hidden;
}

.main_section_list_item_img {
  max-width: 100%;
  max-height: 100%;
}

.main_section_list_item_delivery_type_wrap {
  display: none;
}

.main_section_list_item_img_wrap:hover > .main_section_list_item_delivery_type_wrap {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.main_section_list_item_delivery_type {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main_section_list_item_delivery_type_1, .main_section_list_item_delivery_type_2 {
  color: #fff;
  padding: 10px 0px;
  font-size: 1.1rem;
}

.main_section_list_item_delivery_type_1 {
  border-bottom: 1px solid #fff;
}

.main_section_list_item_title, .main_section_list_item_description {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
}

.main_section_list_item_title {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.main_section_list_item_description {
  font-size: 0.7rem;
  color: #666;
}

.main_section_list_item_price {
  text-align: center;
  line-height: 1.4;
}

.main_section_list_item_origin_price {
  color: #888;
  text-decoration: line-through;
  font-size: 0.7rem;
  vertical-align: middle;
  margin-right: 10px;
}

.main_section_list_item_sales_price {
  color: var(--bamin-color);
  font-weight: bold;
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: 2px;
}  

.main_section_list_item_price_unit {
  color: var(--bamin-color);
  font-weight: bold;
  font-size: 0.7rem;
  vertical-align: middle;
}

.main_section_list_item_badge {
  position: absolute;
  top: 305px;
  left: 50%;
  transform: translate(-50%, 0);
  background: #8b3f92;
  color: #fff;
  font-size: 0.7rem;
  line-height: 1.4;
  padding: 2px 6px;
}