/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ID */
#header_wrap {
	height: 98px;
}

/*  CLASS  */
.wrap {
  height: 37px;
  position: relative;
  background: #FFF;
  border-bottom: 1px solid #E9E9E9;
}

/* TOP NAVI 중 배민 찬 앱 다운로드 START */
.top_navi {
	width: 980px;
	margin: 0 auto;
}

.top_navi a {
	height: 17px;
	font-size: 12px;
	color: #666;
	text-align: center;
	text-decoration: none;
}

.link_app {
  float: left;
	padding-top: 10px; padding-bottom: 10px;
	padding-left: 10px;
}

.link_text {
	display: inline;
}
/* TOP NAVI 중 배민 찬 앱 다운로드 END */

/* TOP NAVI 중 사용자 유틸리티(로그인, 로그아웃 등) START */
.util_user {
  float: right;
	padding-top: 10px;
	padding-bottom: 10px;
}

.util_user > li {
  display: inline;
	float: left;
}

.util_user > li:first-child > a {
	background: none;
}

.util_user > li > a {
	display: inline;
	padding: 10px 10px 9px 10px;
	background-image: url("img/util_bar.gif");
	background-repeat: no-repeat;
	background-position: 0;
}

.shopping_basket {
	font-weight: bold;
}
/* TOP NAVI 중 사용자 유틸리티(로그인, 로그아웃 등) END */

/* 로고 포함된 header START */
.header {
	width: 980px; height: 98px;
	margin: 0 auto;
}

.logo {
	float: left;
	margin-top: 16px;
	margin-left: 5px;
}

.search {
	float: left;
	position: relative;
	margin-top: 30px;
	margin-left: 46px;
}

.search > input {
	width: 210px;
	height: 40px;
	margin-left: 15px;
	margin-right: 38px;
	border: 1px solid #CFD0DE;
}

.search > button {
	position: absolute;
	width: 38px; height: 38px;
	top: 3px; right: 40px;
	border: none;
	background-image: url("img/ic_search.png");
	background-repeat: no-repeat;
	background-position: center 0;
}

.top_menu{
	float: right;
	padding-right: 10px;
}

.top_menu > li {
	float: left;
}

.top_menu > li a {
	display: block;
	height: 48px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 50px;
}
/* 로고 포함된 header END */

/* Main 네비 (밑반찬, 국찌개, 메인반찬) START */
#navi_warp {
	display: block;
	background-color: #483f35;
}

.main_navi {
	width: 980px;
	height: 52px;
	margin: 0 auto;
}

.main_navi_list > li {
	display: inline-block;
	width: 120px; height: 48px;
	float: left;
	text-align: left;
}

.main_navi_list > li:nth-child(4) {
	padding-left: 5px;
}

.main_navi_list > li:nth-child(5) {
	padding-left: 5px;
}

.main_navi_list > li:nth-child(6) {
	padding-left: 5px;
}

.main_navi_list > li:nth-child(8) {
	height: 52px;
	background-color: #362d25;
}

.main_navi_list > li a {
	text-decoration: none;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
}

.main_navi_list > li > a > span {
	display: inline-block;
	height: 36px;
	padding-top: 19px;
	padding-left: 30px; padding-right: 25px;
}
/* Main 네비 (밑반찬, 국찌개, 메인반찬) END */

/* 메인 컨테이너(배너 및 화살표) START */
#container {
	position: relative;
}

.main_banner {
	max-width: 1920px; height: 420px;
	background-image: url("img/banner_1.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.main_banner_slider {
	display: block;
}

.slide {
	width: 60px; height: 92px;
	position: absolute;
	top: 50%;
	margin-top: -46px;
	background-image: url("img/main_slides_navi.png");
	background-repeat: no-repeat;
	background-position: center;
}

.slide_prev {
	left: 50%;
	margin-left: 530px;
	background-position: right center;
}

.slide_next {
	right: 50%;
	margin-right: 530px;
	background-position: left center;
}
/* 메인 컨테이너(배너 및 화살표) END */

/* 서브 컨테이너(배너) START */
#sub_container {
	display: block;
}

.sub_banner {
	width: 980px; height: 240px;
	margin: 0 auto;
	padding: 50px 10px;
}

.small_banner {
	float: left;
}

.sub_banner_1 {
	padding-right: 35px;
}
/* 서브 컨테이너(배너) END */

/* 서브 네비게이션+콘텐츠 영역 START */
#best_seller_container {
	display: block;
	height: 700px;
	background-color: #EEE;
}

.food_box_list {
	width: 980px; height: 100%;
	margin: 0 auto;
}

.food_box_title {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.food_box_title > h2 {
	color: #999;
	font-size: 18px;
	padding-bottom: 15px;
}

.food_box_title p {
	display: inline;
	font-size: 30px;
}

.food_box_title > p:nth-child(2) {
	font-family: "KakaoOTF-aLt";
}

.food_box_title > p:nth-child(3) {
	font-weight: bold;
}
/* 서브 네비게이션+콘텐츠 영역 END */

/* 서브 콘텐츠 영역 (+탭) START */
.food_tab_list {
	height: 48px;
}

.food_tab_list > li {
	display: inline-block;
	width: 156.7px; height: 33px;
	background-color: white;
	color: #777;
	font-size: 15px;
	text-align: center;
	padding-top: 20px;
}

.food_tab_list > li:nth-child(1) {
	background-color: #5FC8C6;
	color: white;
	font-weight: bold;
}
/* 서브 콘텐츠 영역 (+탭) END */

/* 서브 네비게이션+콘텐츠 영역 (베스트셀러) START */
.best_food_list {
	width: 960px;
	padding-top: 30px;
}

.best_food_list > li:nth-child(3) {
	float: right;
	margin-right: 0px;
}

.food_box {
	float: left;
	min-height: 440px;
	background: white;
	margin-right: 24px;
	border-bottom: 1px solid #D7D7D7;
}

.food_image {
	width: 304px;
}

.food_image > img {
	width: 100%;
}

.food_description {
	padding: 16px;
	padding-bottom: 6px;
	text-align: left;
}

.food_description > dt {
	font-size: 17px;
	padding-bottom: 11px;
	letter-spacing: -0.07em;
	font-weight: bold;
}

.food_description > dd:nth-of-type(1) {
	font-size: 13px;
	padding-bottom: 8px;
	color: #666;
}

.food_description > dd:nth-of-type(2) {
	padding-bottom: 7px;
}

.star_score_bg {
	position: relative;
	display: inline-block;
	width: 67px; height: 12px;
	background-image: url("img/ico-review-star.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: auto 24px;
}

.start_score {
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	background-image: url("img/ico-review-star.png");
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: auto 24px;
}

.review_count {
	display: inline-block;
	font-size: 14px;
	color: #999;
}

.selling_price {
	display: inline;
	font-size: 26px;
	color: #2ac1bc;
	font-weight: 500;
	letter-spacing: -0.04em;
}

.sales_unit {
	position: relative;
	font-size: 14px;
	color: #2ac1bc;
	font-weight: 600;
}
/* 서브 네비게이션+콘텐츠 영역 (베스트셀러) END */

/* 서브 콘텐츠 (배민찬 추천) 영역 START */
.food_recommend_wrap {
	position: relative;
	height: 550px;
	padding: 50px 0px;
}

.food_recommend_content {
	width: 980px; height: 500px;
	margin: 0 auto;
	text-align: center;
}

.food_recommand_title > h2 {
	font-size: 18px;
	color: #999;
	margin-bottom: 8px;
}

.food_recommand_title > p {
	font-size: 36px;
	font-family: "KakaoOTF-aLt";
	padding-bottom: 10px;
}

.food_recommend_list {
	margin-top: 15px;
}

.food_recommend_item {
	float: left;
	width: 215px;
	margin: 0 10px;
	background-color: white;
}

.food_recommend_image {
	position: relative;
	overflow: hidden;
	width: 100%; height: 215px;
	border-radius: 50%;
}

.food_recommend_image > img {
	max-width: 100%;
	position: absolute;
	left: 0;
}

.food_recommend_description > dl > dt {
	font-size: 16px;
}

.food_recommend_badge {
	width: 100%; height: 24px;
}

.badge {
	width: 52px; height: 10px;
	display: inline-block;
	background: #c6a8a5;
	color: #FFF;
	font-size: 11px;
	padding-top: 6px;
	padding-bottom: 5px;
}

.event {
	width: 62px;
}

.recommend_slider {
	width: 28px; height: 52px;
	background: url("img/btn_prds_thumb_slides_navi.png");
	top: 53%;
}

.r_prev {
	left: 17%
}

.r_next {
	background-position: top right;
	right: 20%;
}

.btn_more {
	display: block;
	width: 960px; height: 35px;
	margin: 0 auto;
	border: 1px solid;
	border-color: #B4B4B4;
	text-align: center;
	padding-top: 18px;
}

.btn_more > span {
	display: inline-block;
	width: 170px;
	background: url("img/btn_arr_more.png");
	background-repeat: no-repeat;
	background-position: right;
}
/* 서브 콘텐츠 (배민찬 추천) 영역 END */

/* ETC */
.icon {
  display: inline-block;
  zoom: 1;
  width: 7px;
  height: 14px;
  background: url("img/bul_arr_down.png") no-repeat center 0px;
}

.text_center {
	text-align: center;
}
