/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ID */
#header_wrap {
	height: 98px;
}

/*  CLASS  */
.wrap {
  height: 37px;
  position: relative;
  background: #FFF;
  border-bottom: 1px solid #E9E9E9;
}

/* TOP NAVI 중 배민 찬 앱 다운로드 START */
.top_navi {
	width: 980px;
	margin: 0 auto;
}

.top_navi a {
	height: 17px;
	font-size: 12px;
	color: #666;
	text-align: center;
	text-decoration: none;
}

.link_app {
  float: left;
	padding-top: 10px; padding-bottom: 10px;
	padding-left: 10px;
}

.link_text {
	display: inline;
}
/* TOP NAVI 중 배민 찬 앱 다운로드 END */

/* TOP NAVI 중 사용자 유틸리티(로그인, 로그아웃 등) START */
.util_user {
  float: right;
	padding-top: 10px;
	padding-bottom: 10px;
}

.util_user > li {
  display: inline;
	float: left;
}

.util_user > li:first-child > a {
	background: none;
}

.util_user > li > a {
	display: inline;
	padding: 10px 10px 9px 10px;
	background-image: url("img/util_bar.gif");
	background-repeat: no-repeat;
	background-position: 0;
}

.shopping_basket {
	font-weight: bold;
}
/* TOP NAVI 중 사용자 유틸리티(로그인, 로그아웃 등) END */

/* 로고 포함된 header START */
.header {
	width: 980px; height: 98px;
	margin: 0 auto;
}

.logo {
	float: left;
	margin-top: 16px;
	margin-left: 5px;
}

.search {
	float: left;
	position: relative;
	margin-top: 30px;
	margin-left: 46px;
}

.search > input {
	width: 210px;
	height: 40px;
	margin-left: 15px;
	margin-right: 38px;
	border: 1px solid #CFD0DE;
}

.search > button {
	position: absolute;
	width: 38px; height: 38px;
	top: 3px; right: 40px;
	border: none;
	background-image: url("img/ic_search.png");
	background-repeat: no-repeat;
	background-position: center 0;
}

.top_menu{
	float: right;
	padding-right: 10px;
}

.top_menu > li {
	float: left;
}

.top_menu > li a {
	display: block;
	height: 48px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 50px;
}
/* 로고 포함된 header END */

/* Main 네비 (밑반찬, 국찌개, 메인반찬) START */
#navi_warp {
	display: block;
	background-color: #483f35;
}

.main_navi {
	width: 980px;
	height: 52px;
	margin: 0 auto;
}

.main_navi_list > li {
	display: inline-block;
	width: 120px; height: 48px;
	float: left;
	text-align: left;
}

.main_navi_list > li:nth-child(4) {
	padding-left: 5px;
}

.main_navi_list > li:nth-child(5) {
	padding-left: 5px;
}

.main_navi_list > li:nth-child(6) {
	padding-left: 5px;
}

.main_navi_list > li:nth-child(8) {
	height: 52px;
	background-color: #362d25;
}

.main_navi_list > li a {
	text-decoration: none;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
}

.main_navi_list > li > a > span {
	display: inline-block;
	height: 36px;
	padding-top: 19px;
	padding-left: 30px; padding-right: 25px;
}
/* Main 네비 (밑반찬, 국찌개, 메인반찬) END */

/* 메인 컨테이너(배너 및 화살표) START */
#container {
	position: relative;
}

.main_banner {
	max-width: 1920px; height: 420px;
	background-image: url("img/banner_1.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.main_banner_slider {
	display: block;
}

.slide {
	width: 60px; height: 92px;
	position: absolute;
	top: 50%;
	margin-top: -46px;
	background-image: url("img/main_slides_navi.png");
	background-repeat: no-repeat;
	background-position: center;
}

.slide_prev {
	left: 50%;
	margin-left: 530px;
	background-position: right center;
}

.slide_next {
	right: 50%;
	margin-right: 530px;
	background-position: left center;
}


/* 메인 컨테이너(배너 및 화살표) END */



/* ETC */
.icon {
  display: inline-block;
  zoom: 1;
  width: 7px;
  height: 14px;
  background: url("img/bul_arr_down.png") no-repeat center 0px;
}
