:root {
  --main-content-width: 980px;
  --main-theme-color: #00c2be;
  --font-weight-mid: 600;
}

body {
  margin: 0;
  max-width: 1280px;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.wrap {
  width: var(--main-content-width);
  height: inherit;
  margin: auto;
}

header {
  height: 190px;
}

.basic_item {
  float: left;
  text-align: center;
  margin: 0px 5px;
}

.top {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #d0d0d0;
}

.app_download {
  float: left;
  font-size: 0.7rem;
}

.app_download_a {
  color: #878696;
}

.app_download_a>span:hover {
  color: var(--main-theme-color);
}

.app_download_img {
  width: 10px;
  padding-bottom: 3px;
  vertical-align: middle;
}

.top_list {
  float: right;
}

.top_list_item {
  font-size: 0.7rem;
  line-height: 38px;
}

.top_list_item_a {
  color: #878696;
  text-decoration: none;
}

.top_list_item_a:hover {
  color: var(--main-theme-color);
}

/* Header */

.search {
  height: 100px;
}

.main_logo {
  line-height: 100px;
  float: left;
}

.main_logo_img {
  vertical-align: middle;
}

.search_wrap {
  position: relative;
  align-items: center;
  width: 270px;
  height: 100px;
  padding-left: 10px;
  float: left;
}

.search_bar {
  margin-top: 28px;
  border: 1px solid #cbcbd4;
}

.search_bar_in_wrap {
  border-bottom: 1px solid #cbcbd4;
}

.search_bar_in {
  vertical-align: middle;
  border: none;
  width: 200px;
  height: 40px;
  font-size: 1rem;
  padding-left: 15px;
}

.search_icon {
  vertical-align: middle;
  padding: 5px;
  width: 20px;
  margin: 8px;
}

.search_list {
  float: right;
  height: 100px;
}

.search_list_item {
  line-height: 100px;
  margin-left: 15px;
}

.search_list_img {
  vertical-align: middle;
}

.search_auto_list {
  background-color: #fff;
}

.search_auto_drop {
  width: 270px;
  height: 40px;
  box-sizing: border-box;
  padding-top: 12px;
  z-index: 1;
}

.highlight {
  background-color: #efefef;
}

.search_auto_drop_sp {
  display: block;
  margin-left: 10px;
  font-size: 12px;
}

.search_auto_drop strong {
  color: var(--main-theme-color);
}

.remove_recent {
  font-weight: 600;
}

/* nav */

.main_nav {
  height: 50px;
  background-color: #4c4e4a;
}

.nav_list {
  line-height: 50px;
  font-weight: var(--font-weight-mid);
  display: flex;
  justify-content: space-around;
}

.nav_list_item {
  width: 100%;
}

.nav_list_item_a {
  color: #fff;
  display: block;
}

.nav_list_item:hover .layer {
  display: block;
}

.nav_list_item:hover .nav_list_item_a {
  border: 1px solid #a7a7a7;
  border-bottom: 0;
  background-color: #fff;
  color: var(--main-theme-color);
}

.nav_layer_on {
  background-color: #fff;
  color: var(--main-theme-color);
}

.layer {
  width: 150px;
  display: none;
  border: 1px solid #a7a7a7;
  border-top: 0;
  background-color: #fff;
  position: absolute;
  z-index: 1;
}

.layer li {
  text-align: left;
  display: block;
  margin-left: 15px;
  font-size: 0.75rem;
}

.layer a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #5d5d5d;
}

.layer a:hover {
  text-decoration: underline;
  color: var(--main-theme-color);
}

/* promotion */

.promotion {
  height: 420px;
  overflow: hidden;
}

.promotion_li {
  position: absolute;
  width: 1280px;
  height: 420px;
  z-index: -1;
  background-position: center;
}

#show {
  opacity: 1;
}

.promotion_img {
  width: inherit;
  opacity: 0;
  height: 420px;
  transition: 1s ease;
  transform: scale(1.2);
}

.promotion_left_nav {
  float: left;
  width: 70px;
  height: 144px;
  margin: 128px 0 0 80px;
  opacity: 0.8;
}

.promotion_right_nav {
  float: right;
  width: 70px;
  height: 144px;
  margin: 128px 80px 0 0;
  opacity: 0.8;
}

.slides_navi {
  margin-top: 220px;
  width: 150px;
  height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 380px;
}

.slides_navi_li {
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 90%;
}

.slides_navi_li_clicked {
  opacity: 1;
  transform: scale(1.1);
}

/* news */

.news {
  height: 360px;
}

.news_wrap {
  display: flex;
}

.news_item {
  height: 240px;
  width: 480px;
  margin: 60px 0px;
  text-align: center;
}

.news_item:nth-child(1) {
  margin-right: 10px;
}

.news_item:nth-child(2) {
  margin-left: 10px;
  border: 5px solid #cccccc;
  box-sizing: border-box;
}

.news_item_a {
  width: inherit;
  height: inherit;
}

.news_item_img {
  width: inherit;
  height: inherit;
}

.news_item_sp1 {
  display: block;
  color: #878696;
  font-weight: var(--font-weight-mid);
  margin: 20px;
  font-size: 1rem;
}

.news_item_sp2 {
  display: block;
  margin: 25px 50px;
  font-size: 2rem;
}

.news_item_logo {
  width: 60px;
  height: 60px;
  margin: auto;
}

/* best menu */

.best_menu {
  height: 600px;
  background-color: #dedede;
}

.best_menu_wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.best_menu_head1 {
  margin: 10px auto 0px auto;
  padding-top: 10px;
  color: #a7a7a7;
  font-weight: var(--font-weight-mid);
}

.best_menu_head2 {
  margin: 10px auto;
  font-size: 2rem;
}

.best_menu_head2_str {
  font-weight: var(--font-weight-mid);
  font-size: 2.1rem;
}

.best_menu_nav {
  width: var(--main-content-width);
  display: flex;
  margin: 20px auto;
  background-color: #fff;
}

.best_menu_nav_li {
  height: 38px;
  line-height: 38px;
  width: 100%;
  font-size: 0.8rem;
  font-weight: var(--font-weight-mid);
  border-left: 1px solid #e8e8e8;
  color: #868686;
}

.best_menu_nav_a {
  display: block;
  color: #868686;
}

.best_menu_nav_a:hover {
  background-color: var(--main-theme-color);
  color: #fff;
}

.best_menu_nav_item_selected {
  background-color: var(--main-theme-color);
  color: #fff;
}

.best_menu_nav_item:first-child {
  border-left: 0;
}

.best_menu_item_list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.best_menu_item_wrap {
  width: 300px;
  height: 380px;
  background-color: #fff;
}

.best_menu_item_img {
  width: 100%;
  height: 250px;
}

.best_menu_item_deskbox {
  padding: 10px 20px;
  text-align: left;
}

.best_menu_item_sp1 {
  display: block;
  font-weight: var(--font-weight-mid);
  color: #000;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.best_menu_item_sp2 {
  display: block;
  font-size: 0.75rem;
  font-weight: var(--font-weight-mid);
  margin-bottom: 5px;
  color: #a7a7a7;
}

.best_menu_item_score {
  display: block;
  color: #000;
  margin-bottom: 2px;
}

.best_menu_item_star {
  font-size: 0.8rem;
  font-weight: var(--font-weight-mid);
  color: #a7a7a7;
}

.best_menu_item_price {
  font-size: 1.5rem;
  font-weight: var(--font-weight-mid);
  color: var(--main-theme-color);
}

/* slider */

.slide_background {
  width: 100%;
  height: 600px;
  background-color: #fff;
}

.slide_wrap {
  height: 500px;
  display: flex;
  flex-direction: column;
}

.slide_head1 {
  margin: 10px auto 0px auto;
  padding-top: 10px;
  color: #a7a7a7;
  font-weight: var(--font-weight-mid);
}

.slide_head2 {
  margin: 10px auto;
  font-size: 2rem;
}

.slide_wrap {
  overflow: hidden;
  margin-top: 30px;
}

.slide_left_nav {
  float: left;
  width: 70px;
  height: 144px;
  margin: 178px 0 0 50px;
}

.slide_right_nav {
  float: right;
  width: 70px;
  height: 144px;
  margin: 178px 50px 0 0;
}

.slider {
  width: max-content;
}

.slide_item_wrap {
  display: flex;
  justify-content: space-between;
  width: 980px;
  float: left;
}

.slide_menu_a {
  z-index: 1;
}

.slide_menu_box {
  background-color: #fff;
  width: 215px;
  height: 360px;
  text-align: center;
  position: relative;
}

.slide_menu_img_wrap {
  position: relative;
  z-index: 1;
}

.slide_menu_img {
  width: 100%;
  border-radius: 90%;
}

.slide_menu_img_wrap:hover .slide_menu_deli1,
.slide_menu_img_wrap:hover .slide_menu_deli2,
.slide_menu_img_wrap:hover .slide_menu_deli_hr {
  display: block;
}

.after {
  top: 0;
  left: 0;
  border-radius: 90%;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  color: #fff;
}

.slide_menu_img_wrap:hover .after {
  display: block;
  background: rgba(0, 0, 0, 0.7);
}

.slide_menu_deli1,
.slide_menu_deli2 {
  z-index: 1;
  display: none;
  color: #fff;
  font-weight: 600;
  margin: auto;
  position: absolute;
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
}

.slide_menu_deli2 {
  top: 120px;
}

.slide_menu_deli_hr {
  z-index: 1;
  display: none;
  color: #fff;
  position: absolute;
  width: 60px;
  top: 100px;
  left: 78px;
}

.slide_menu_badge {
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
  background-color: #b99d9d;
  margin: 15px auto;
}

.badge_best_color {
  background-color: #76b3e0;
}

.slide_menu_sp1,
.slide_menu_sp2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slide_menu_btn {
  color: #000;
  display: block;
  border: 1px solid #ccc;
  padding: 15px 0;
  width: 980px;
  margin: 20px auto;
  text-align: center;
}

.slide_menu_btn_sp {
  margin: 0 auto;
  display: block;
  width: inherit;
}

/* footer */

.ft_hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: #ccc;
}

.ft_wrapper {
  width: 980px;
  height: 200px;
  margin: 0 auto;
  background-color: #fff;
}

.ft_guide_list {
  float: left;
  width: 30%;
  margin: 20px 0 0 0;
}

.ft_guide_li {
  float: left;
  display: block;
  width: 125px;
  height: 80px;
}

.ft_guide_li:nth-child(1) {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.ft_guide_li:nth-child(2) {
  border-bottom: 1px solid #ccc;
}

.ft_guide_li:nth-child(3) {
  border-right: 1px solid #ccc;
}

.ft_guide_img {
  display: block;
  margin: 5px auto;
  width: 60px;
}

.ft_guide_sp {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 0.8em;
}

.ft_noti {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-left: 50px;
}

.ft_noti_header {
  display: block;
  margin: 35px 0 15px 30px;
  font-size: 1.1em;
  float: left;
  width: 50%;
}

.ft_noti_btn {
  margin: 30px 30px 20px 0;
  float: right;
}

.ft_noti_list {
  font-size: 0.8em;
  float: left;
}

.ft_noti_list_li {
  margin: 8px;
}

.ft_noti_list_img {
  width: 8px;
  margin-right: 5px;
}

.ft_customer {
  float: left;
  width: 20%;
  text-align: right;
}

.ft_customer_sp {
  width: 100%;
  float: right;
  font-size: 0.8em;
  font-weight: 600;
}

.ft_customer_sp:first-child {
  margin-top: 40px;
  font-size: 1.1em;
}

.ft_customer_sp:nth-child(2) {
  font-size: 1.9em;
}

.ft_customer_sp:nth-child(3),
.ft_customer_sp:nth-child(5) {
  margin-top: 10px;
}

.a7_color {
  color: #a7a7a7
}

.ft_sns_img {
  float: right;
  margin: 5px;
}

.ft_info_list {
  height: 15px;
  margin: 30px 0;
}

.ft_info_list_li {
  font-weight: 600;
  color: #636363;
  float: left;
  border-right: 1px solid #ccc;
  font-size: 0.8em;
  padding-right: 5px;
  margin-left: 5px;
}

.ft_info_list_li:first-child {
  margin-left: 0;
}

.ft_info_list_li:last-child {
  border: 0;
}

.black_font {
  color: #000;
}

.ft_sub_info_list {
  height: 15px;
  margin: 5px 0;
}

.ft_sub_info_list_li {
  font-weight: 600;
  color: #a7a7a7;
  float: left;
  border-right: 1px solid #ccc;
  font-size: 0.8em;
  padding-right: 5px;
  margin-left: 5px;
}

.ft_sub_info_list_li:first-child {
  margin-left: 0;
}

.ft_sub_info_list_li:last-child {
  border: 0;
}

.ft_sub_info_sp1 {
  display: block;
  font-size: 0.8em;
  margin: 20px 0;
}

.ft_sub_info_sp2 {
  display: block;
  width: 700px;
  font-weight: 600;
  color: #a7a7a7;
  font-size: 0.8em;
  margin: 20px 0;
}

.scroll_btn_box {
  position: fixed;
  top: 500px;
  left: 1180px;
  width: 50px;
  height: 100px;
}

.scroll_up_btn {
  display: block;
  width: 50px;
  height: 50px;
  background: url("https://cdn.bmf.kr/web/common/btn_page_up_down_new.png") no-repeat;
}

.scroll_down_btn {
  display: block;
  width: 50px;
  height: 50px;
  background: url("https://cdn.bmf.kr/web/common/btn_page_up_down_new.png") no-repeat;
  background-position: 0 -50px;
}