<li class="prd_box">
    <a href="#">
        <div class="thumb_img">
            <p>
                <img src="{{image}}" alt="{{alt}}">
            </p>
            <div class="circle_mask"></div>
        </div>
        <dl class="prd_detail">
            <dt class="prd_title">{{title}}</dt>
            <dd class="prd_description">{{description}}</dd>
            <dd class="prd_price">
                <span class="old_price">{{old_price}}</span>
                <span class="new_price">{{new_price}}
                    <span class="won">{{won}}</span>
                </span>
            </dd>
        </dl>
    </a>
</li>