.scroller {
    display: none;
    position: fixed;
    bottom: 70px;
    left: 79%;
    >li>a {
        display: block;
        width: 50px;
        height: 50px;
        background: url(https://cdn.bmf.kr/web/common/btn_page_up_down_new.png) no-repeat;
    }
    >.page_up>a {
        background-position: 0 top;
        &:hover,
        &:focus {
            background-position: -50px top;
        }
    }
    >.page_down>a {
        background-position: 0 -50px;
        &:hover,
        &:focus {
            background-position: -50px -50px;
        }
    }
}