@import "./_utils.scss";

$tabs: 6;

.wrapper__best-seler {
  @extend %side-padding;
  background-color: #eee;
  padding-bottom: 40px;
  & .head-line {
    padding-top: 40px;
    padding-bottom: 42px;
  }
 
}

.best-seler-title {
  font-size: 18px;
  color: #999;
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
}

.best-title-description {
  text-align: center;
  font-size: 34px;
  margin: 0;
}


.tab-button-list {
  @extend %clearfix;
  float: left;
  width: 100%;

  & .list-item {
    float: left;
    width: 100%/$tabs;
    height: 48px;
  } 
 
}