@import "./_utils.scss";

.wrapper__best-seler {
  background-color: #eee;
  padding-bottom: 40px;

  & .head-line {
    padding-top: 40px;
    padding-bottom: 42px;
  }
}

// common으로 빼기
.title {
  font-size: 18px;
  color: #999;
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
}

.description {
  text-align: center;
  font-size: 34px;
  margin: 0;
}

.tab-best {
  width: 980px;
  margin: 0 auto;
  position: relative;
}

.tab-button-list {
  @extend %clearfix;

  font-family: "Noto Sans KR Bold", sans-serif;
  margin-bottom: 23px;
  li {
    float: left;
  }
  & .tab-button {
    float: left;
    width: 159px;
    margin-right: 1px;
    height: 48px;
    background-color: #fff;
    padding-top: 15px;
    line-height: 1.2;
    color: #777;
    text-align: center;
    cursor: pointer;
  }
  .tab-button:hover,
  .tab-button.active {
    background-color: #1fcbc7;
    color: #fff;
  }
}

// tab Card

.tab-card-list {
  @extend %clearfix;
}

.tab-card {
  overflow: hidden;
  width: 304px;
  min-height: 440px;
  margin-right: 24px;
  background: #fff;
  border-bottom: 1px solid #d7d7d7;
  &:last-of-type {
    margin-right: 0;
  }
  & a:hover {
    .delivery-type-box {
      top: 0;
      color: #fff;
    }
  }
}
.tab-card-thumbnail {
  position: relative;
  height: 304px;
  overflow: hidden;

  .badge-box {
    position: absolute;
    bottom: 10px;
    left: 10px;
   
    box-sizing: border-box;
   
  }

  .delivery-type-box {
    top: 304px;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3000;
    // float: left;
    & .delivery-type-list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      li {
        text-align: center;
        font-size: 22px;
        margin: 0px 15px 8px;
      }
      span {
        display: inline-block;
        padding: 12px 0 2px;
        border-top: 1px solid #fff;
      }
      li:first-of-type span {
        border-top: none;
      }
    }
  }
}


.badge-box span {
  display: inline-block;
  color: #fff;
  font-size: 11px;
  margin-right: 10px;
  padding: 5px;
  height: 22px;
  background: #c6a8a5;
  z-index: 1000;
}

.tab-card-img {
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tab-card__content-box {
  padding: 16px;
  text-align: left;

  & .title {
    font-family: "Noto Sans KR Bold", sans-serif;
    font-size: 17px;
    letter-spacing: -0.07em;
    color: #000;
    margin-bottom: 6px;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
  }
  .description {
    margin-top: 0;
    font-size: 13px;
    color: #666;
    margin-bottom: 7px;
    min-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
  }

  .price-box .special-price {
    font-size: 26px;
    color: #2ac1bc;
    font-weight: bold;
    vertical-align: middle;
    line-height: 1;
    letter-spacing: -0.04em;
    margin-right: 5px;
  }
  .normal-price {
    font-size: 14px;
    color: #888;
    text-decoration: line-through;
  }
}

