.hide {
  display: none;
}

.show {
  display: block;
}

.blind {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  margin-top: -1px
}

.static {
  position: static;
}

.hl {
  color: red;
}