@import "./utils.scss";

//common
%contentsAlign {
  width: 980px;
  margin: 0 auto;
}

.wrapper__header-user-menu {
  border-bottom: 1px solid #e9e9e9;
}

.wrapper__header-user-menu,
.wrapper__header-body,
.wrapper__header-main-menu {
  @extend %side-padding;
}
.header__body,
.header__user-menu,
.header__main-menu {
  @extend %contentsAlign;
  @extend %clearfix;
}

// user-menu

// drop-down
.dropdown {
  display: none;
}
.dropdown.show {
  display: block;
}

.dropdown-trigger {
  color: #666;
  &:hover {
    color: #2ac1bc;
    .ic-dropdown {
      background-position: center -13px;
    }
  }
}

.ic-dropdown {
  width: 7px;
  height: 14px;
  display: inline-block;
  margin-left: 4px;
  background: url(../../assets/images/arr_down.png) no-repeat center 1px;
}

.drop-down-donwload-box {
  float: left;
  & #dropdown-download-trigger {
    padding: 11px;
    display: block;
    text-align: center;
  }
  ul {
    width: 164px;
    padding: 10px;
  }
}

#dropdown-download {
  width: 164px;
  padding: 10px;
  position: absolute;
  background-color: #fff;
  top: 31px;
  border: 1px solid #e9e9e9;
  z-index: 30000;
  & li {
    height: 30px;
    font-size: 12px;
    color: #666;
    padding: 6px 10px 7px 36px;
    text-align: left;
    background: url(../../assets/images/ic_app_download.png) no-repeat 16px 0px;
  }
  :hover {
    color: #2ac1bc;
    text-decoration-line: underline;
  }
  .appstore {
    background-position-y: 4px;
  }
  .playstore {
    background-position-y: -24px;
  }
}

.header__user-menu {
  position: relative;
  background: #fff;
  height: 36px;
  overflow: visible;
  letter-spacing: -0.2px;
  font-size: 12px;
}

.header__user-menu-list {
  position: relative;
  margin: 0;
  & .list-item {
    float: left;
    padding: 10px;
    :hover {
      color: #2ac1bc;
    }
  }
}

#dropdown-my-page,
#dropdown-client-center {
  padding-top: 6px;
  padding-bottom: 6px;
  width: 124px;
  position: absolute;
  z-index: 3000;
  position: absolute;
  background-color: #fff;
  top: 31px;
  border: 1px solid #e9e9e9;
  & a {
    box-sizing: content-box;
    padding: 6px 10px 7px 12px;
    text-align: left;
    display: block;
    height: 17px;
    font-size: 12px;
    color: #666;
  }
}

// body

.header__body-title {
  margin: 0;
  & .logo {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

//search
.search-form {
  margin: 30px 0 0 46px;
  position: relative;
}

.search-input {
  font-size: 16px;
  width: 210px;
  height: 40px;
  color: rgb(136, 136, 136);
  font-family: Verdana, 나눔고딕, Nanum, "Malgun Gothic", sans-serif;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(207, 208, 210);
  border-image: initial;
  padding: 0px 38px 0px 15px;
}

.search-button {
  border: none;
  width: 40px;
  height: 40px;
  background: url(../../assets/images/search-icon.png) no-repeat center 0;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  text-indent: -3000px;
}

.keyword-list {
  position: absolute;
  top: 45px;
  z-index: 3000;
  li {
    width: 210px;
    height: 40px;
    background: #fff;
    box-sizing: border-box;
    padding: 5px;
    &:hover {
      background: #eee;
     
    }
  }
  & .active {
    background: #eee;
   
  }
}
// special menu

.wrapper__header-main-menu {
  background: #483f35;
  height: 52px;
}

.header__body-special-menu {
  float: right;
  margin-right: 5px;
  & .link-item a {
    display: block;
    height: 48px;
    margin: 25px 0 25px 50px;
  }
}

.header__main-menu-list {
  width: 100%;

  & .list-item {
    float: left;
    width: 140px;
    position: relative;
    &:hover {
      .main-menu span {
        // 요거 중복 많이 됨 따로 빼기
        background-color: #fff;
        color: #2ac1bc;
        font-weight: bold;
      }
      .sub-menu-list {
        display: block;
        
      }
    }
  }

  .main-menu {
    display: block;
    padding: 5px 0 0 1px;
    color: #fff;
  }
  .main-menu span {
    box-sizing: content-box;
    display: inline-block;
    height: 36px;
    padding: 11px 25px 0px;
    text-align: center;
    letter-spacing: 0;
    cursor: pointer;
    font-size: 16px;
    font-family: NanumBold, 맑은고딕, "Malgun Gothic", sans-serif;
  }
}

.sub-menu-list {
  display: none;
  z-index: 1000;
  width: 162px;
  position: absolute;
  left: 0;
  top: 52px;
  padding: 20px 0 31px;
  font-family: "Nanum", sans-serif;
  background: #fff;
  border: 1px solid rgba(72, 63, 53, 0.6);
  border-top: none;

  .sub-list-item span {
    display: block;
    color: #555;
    font-size: 14px;
    line-height: 1.4em;
    padding: 6px 0 3px 25px;
    letter-spacing: 0;
  }

  & span:hover {
    background-color: #fff;
    color: #2ac1bc;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
  }
}
