

.scroll-button-list {
  position: fixed;
  bottom: 70px;
  right: 5%;
  z-index: 1000;

}

.scroll-button-list {
  a {
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-indent: -3000px;
    background: url(../../assets/images/scrollBtn.png);
   
  }
  .down-button {
    background-position: 0 -50px;
  }
  
}

