@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.blind {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  margin-top: -1px;
}

.static {
  position: static;
}

.hl {
  color: red;
}

.wrapper {
  min-width: 1060px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.wrapper__header-user-menu,
.wrapper__header-body,
.wrapper__header-main-menu {
  padding-left: 6.36%;
  padding-right: 6.36%;
}

.header__body:after,
.header__user-menu:after,
.header__main-menu:after, .main__banner-slider-pagination:after, .main__sub-banners--wrapper:after, .tab-button-list:after, .tab-card-list:after, .wrapper__list-slider:after, .wrapper__list-slider-screen:after, .list-slide:after, .grid:after {
  display: block;
  clear: both;
  content: '';
}

.header__body,
.header__user-menu,
.header__main-menu {
  width: 980px;
  margin: 0 auto;
}

.wrapper__header-user-menu {
  border-bottom: 1px solid #e9e9e9;
}

.dropdown {
  display: none;
}

.dropdown.show {
  display: block;
}

.dropdown-trigger {
  color: #666;
}

.dropdown-trigger:hover {
  color: #2ac1bc;
}

.dropdown-trigger:hover .ic-dropdown {
  background-position: center -13px;
}

.ic-dropdown {
  width: 7px;
  height: 14px;
  display: inline-block;
  margin-left: 4px;
  background: url(../../assets/images/arr_down.png) no-repeat center 1px;
}

.drop-down-donwload-box {
  float: left;
}

.drop-down-donwload-box #dropdown-download-trigger {
  padding: 11px;
  display: block;
  text-align: center;
}

.drop-down-donwload-box ul {
  width: 164px;
  padding: 10px;
}

#dropdown-download {
  width: 164px;
  padding: 10px;
  position: absolute;
  background-color: #fff;
  top: 31px;
  border: 1px solid #e9e9e9;
  z-index: 30000;
}

#dropdown-download li {
  height: 30px;
  font-size: 12px;
  color: #666;
  padding: 6px 10px 7px 36px;
  text-align: left;
  background: url(../../assets/images/ic_app_download.png) no-repeat 16px 0px;
}

#dropdown-download :hover {
  color: #2ac1bc;
  text-decoration-line: underline;
}

#dropdown-download .appstore {
  background-position-y: 4px;
}

#dropdown-download .playstore {
  background-position-y: -24px;
}

.header__user-menu {
  position: relative;
  background: #fff;
  height: 36px;
  overflow: visible;
  letter-spacing: -0.2px;
  font-size: 12px;
}

.header__user-menu-list {
  position: relative;
  margin: 0;
}

.header__user-menu-list .list-item {
  float: left;
  padding: 10px;
}

.header__user-menu-list .list-item :hover {
  color: #2ac1bc;
}

#dropdown-my-page,
#dropdown-client-center {
  padding-top: 6px;
  padding-bottom: 6px;
  width: 124px;
  position: absolute;
  z-index: 3000;
  position: absolute;
  background-color: #fff;
  top: 31px;
  border: 1px solid #e9e9e9;
}

#dropdown-my-page a,
#dropdown-client-center a {
  box-sizing: content-box;
  padding: 6px 10px 7px 12px;
  text-align: left;
  display: block;
  height: 17px;
  font-size: 12px;
  color: #666;
}

.header__body-title {
  margin: 0;
}

.header__body-title .logo {
  margin-top: 16px;
  margin-bottom: 16px;
}

.search-form {
  margin: 30px 0 0 46px;
  position: relative;
}

.search-input {
  font-size: 16px;
  width: 210px;
  height: 40px;
  color: #888888;
  font-family: Verdana, 나눔고딕, Nanum, "Malgun Gothic", sans-serif;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #cfd0d2;
  border-image: initial;
  padding: 0px 38px 0px 15px;
}

.search-button {
  border: none;
  width: 40px;
  height: 40px;
  background: url(../../assets/images/search-icon.png) no-repeat center 0;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  text-indent: -3000px;
}

.keyword-list {
  position: absolute;
  top: 45px;
  z-index: 3000;
}

.keyword-list li {
  width: 210px;
  height: 40px;
  background: #fff;
  box-sizing: border-box;
  padding: 5px;
}

.keyword-list li:hover {
  background: #eee;
}

.keyword-list .active {
  background: #eee;
}

.wrapper__header-main-menu {
  background: #483f35;
  height: 52px;
}

.header__body-special-menu {
  float: right;
  margin-right: 5px;
}

.header__body-special-menu .link-item a {
  display: block;
  height: 48px;
  margin: 25px 0 25px 50px;
}

.header__main-menu-list {
  width: 100%;
}

.header__main-menu-list .list-item {
  float: left;
  width: 140px;
  position: relative;
}

.header__main-menu-list .list-item:hover .main-menu span {
  background-color: #fff;
  color: #2ac1bc;
  font-weight: bold;
}

.header__main-menu-list .list-item:hover .sub-menu-list {
  display: block;
}

.header__main-menu-list .main-menu {
  display: block;
  padding: 5px 0 0 1px;
  color: #fff;
}

.header__main-menu-list .main-menu span {
  box-sizing: content-box;
  display: inline-block;
  height: 36px;
  padding: 11px 25px 0px;
  text-align: center;
  letter-spacing: 0;
  cursor: pointer;
  font-size: 16px;
  font-family: NanumBold, 맑은고딕, "Malgun Gothic", sans-serif;
}

.sub-menu-list {
  display: none;
  z-index: 1000;
  width: 162px;
  position: absolute;
  left: 0;
  top: 52px;
  padding: 20px 0 31px;
  font-family: "Nanum", sans-serif;
  background: #fff;
  border: 1px solid rgba(72, 63, 53, 0.6);
  border-top: none;
}

.sub-menu-list .sub-list-item span {
  display: block;
  color: #555;
  font-size: 14px;
  line-height: 1.4em;
  padding: 6px 0 3px 25px;
  letter-spacing: 0;
}

.sub-menu-list span:hover {
  background-color: #fff;
  color: #2ac1bc;
  text-decoration: underline;
  font-size: 16px;
  font-weight: bold;
}

.left {
  float: left;
}

.right {
  float: right;
}

.wrapper__header-user-menu,
.wrapper__header-body,
.wrapper__header-main-menu {
  padding-left: 6.36%;
  padding-right: 6.36%;
}

.header__body:after,
.header__user-menu:after,
.header__main-menu:after, .main__banner-slider-pagination:after, .main__sub-banners--wrapper:after, .tab-button-list:after, .tab-card-list:after, .wrapper__list-slider:after, .wrapper__list-slider-screen:after, .list-slide:after, .grid:after {
  display: block;
  clear: both;
  content: '';
}

.main__banner {
  width: 100vw;
  overflow: hidden;
  position: relative;
  height: 420px;
}

.main__banner-slider {
  width: auto;
  overflow: hidden;
}

.main__banner-slider a {
  cursor: pointer;
}

.main__banner-slider li {
  width: 100%;
  text-align: center;
  overflow: hidden;
  position: absolute;
  opacity: 0;
}

.main__banner-slider img {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.main__banner-slider .active {
  opacity: 1;
  transition: opacity 0.05s ease;
}

.slide-button-list {
  width: 100%;
  position: absolute;
  height: 100px;
  top: 50%;
  transform: translateY(-50%);
}

.slide-button-list a {
  overflow: hidden;
  display: block;
  width: 60px;
  height: 92px;
  text-indent: -3000px;
  position: absolute;
  top: 0;
  z-index: 100;
  background: url(../../assets/images/mainSlider/main_slides_navi.png) no-repeat;
  cursor: pointer;
}

.slide-button-list .left-button {
  right: 50%;
  margin-right: 530px;
  background-position: left center;
}

.slide-button-list .right-button {
  left: 50%;
  margin-left: 530px;
  background-position: right center;
}

.main__banner-slider-pagination {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.main__banner-slider-pagination li {
  float: left;
}

.main__banner-slider-pagination a {
  overflow: hidden;
  display: block;
  margin-right: 6px;
  width: 10px;
  height: 10px;
  padding: 10px 0 0 0;
  background: #EEE;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
}

.main__banner-slider-pagination a.now {
  background: #FFF;
  opacity: 1;
}

.main__sub-banners--wrapper {
  width: 980px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 60px;
  position: relative;
}

.main__sub-banner-new-product {
  margin-right: 20px;
  margin-left: 10px;
}

.main__sub-banner-regular-delivary {
  margin-right: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.wrapper__header-user-menu,
.wrapper__header-body,
.wrapper__header-main-menu {
  padding-left: 6.36%;
  padding-right: 6.36%;
}

.header__body:after,
.header__user-menu:after,
.header__main-menu:after, .main__banner-slider-pagination:after, .main__sub-banners--wrapper:after, .tab-button-list:after, .tab-card-list:after, .wrapper__list-slider:after, .wrapper__list-slider-screen:after, .list-slide:after, .grid:after {
  display: block;
  clear: both;
  content: '';
}

.wrapper__best-seler {
  background-color: #eee;
  padding-bottom: 40px;
}

.wrapper__best-seler .head-line {
  padding-top: 40px;
  padding-bottom: 42px;
}

.title {
  font-size: 18px;
  color: #999;
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
}

.description {
  text-align: center;
  font-size: 34px;
  margin: 0;
}

.tab-best {
  width: 980px;
  margin: 0 auto;
  position: relative;
}

.tab-button-list {
  font-family: "Noto Sans KR Bold", sans-serif;
  margin-bottom: 23px;
}

.tab-button-list li {
  float: left;
}

.tab-button-list .tab-button {
  float: left;
  width: 159px;
  margin-right: 1px;
  height: 48px;
  background-color: #fff;
  padding-top: 15px;
  line-height: 1.2;
  color: #777;
  text-align: center;
  cursor: pointer;
}

.tab-button-list .tab-button:hover,
.tab-button-list .tab-button.active {
  background-color: #1fcbc7;
  color: #fff;
}

.tab-card {
  overflow: hidden;
  width: 304px;
  min-height: 440px;
  margin-right: 24px;
  background: #fff;
  border-bottom: 1px solid #d7d7d7;
}

.tab-card:last-of-type {
  margin-right: 0;
}

.tab-card a:hover .delivery-type-box {
  top: 0;
  color: #fff;
}

.tab-card-thumbnail {
  position: relative;
  height: 304px;
  overflow: hidden;
}

.tab-card-thumbnail .badge-box {
  position: absolute;
  bottom: 10px;
  left: 10px;
  box-sizing: border-box;
}

.tab-card-thumbnail .delivery-type-box {
  top: 304px;
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3000;
}

.tab-card-thumbnail .delivery-type-box .delivery-type-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tab-card-thumbnail .delivery-type-box .delivery-type-list li {
  text-align: center;
  font-size: 22px;
  margin: 0px 15px 8px;
}

.tab-card-thumbnail .delivery-type-box .delivery-type-list span {
  display: inline-block;
  padding: 12px 0 2px;
  border-top: 1px solid #fff;
}

.tab-card-thumbnail .delivery-type-box .delivery-type-list li:first-of-type span {
  border-top: none;
}

.badge-box span {
  display: inline-block;
  color: #fff;
  font-size: 11px;
  margin-right: 10px;
  padding: 5px;
  height: 22px;
  background: #c6a8a5;
  z-index: 1000;
}

.tab-card-img {
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tab-card__content-box {
  padding: 16px;
  text-align: left;
}

.tab-card__content-box .title {
  font-family: "Noto Sans KR Bold", sans-serif;
  font-size: 17px;
  letter-spacing: -0.07em;
  color: #000;
  margin-bottom: 6px;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.tab-card__content-box .description {
  margin-top: 0;
  font-size: 13px;
  color: #666;
  margin-bottom: 7px;
  min-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.tab-card__content-box .price-box .special-price {
  font-size: 26px;
  color: #2ac1bc;
  font-weight: bold;
  vertical-align: middle;
  line-height: 1;
  letter-spacing: -0.04em;
  margin-right: 5px;
}

.tab-card__content-box .normal-price {
  font-size: 14px;
  color: #888;
  text-decoration: line-through;
}

.left {
  float: left;
}

.right {
  float: right;
}

.wrapper__header-user-menu,
.wrapper__header-body,
.wrapper__header-main-menu {
  padding-left: 6.36%;
  padding-right: 6.36%;
}

.header__body:after,
.header__user-menu:after,
.header__main-menu:after, .main__banner-slider-pagination:after, .main__sub-banners--wrapper:after, .tab-button-list:after, .tab-card-list:after, .wrapper__list-slider:after, .wrapper__list-slider-screen:after, .list-slide:after, .grid:after {
  display: block;
  clear: both;
  content: '';
}

.wrapper__list-slider {
  position: relative;
  width: 980px;
  margin: 0 auto;
}

.wrapper__list-slider .head-line {
  padding-top: 70px;
  padding-bottom: 32px;
}

.wrapper__list-slider-screen {
  position: relative;
  float: left;
}

.list-slide {
  position: relative;
}

.list-card-thumbnail {
  position: relative;
  height: 215px;
  overflow: hidden;
}

.list-card-thumbnail .delivery-type-box {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3000;
}

.list-card-thumbnail .delivery-type-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-card-thumbnail .delivery-type-list li {
  text-align: center;
  margin: 0px 15px 8px;
}

.list-card-thumbnail .delivery-type-list span {
  font-size: 16px;
  display: inline-block;
  padding: 12px 0 2px;
  border-top: 1px solid #fff;
}

.list-card-thumbnail .delivery-type-list li:first-of-type span {
  border-top: none;
}

.list-card {
  width: 215px;
  margin: 0px 15px 8px;
  overflow: hidden;
}

.list-card:last-of-type {
  margin-right: 0;
}

.list-card a:hover .delivery-type-box {
  top: 0;
  color: #fff;
}

.list-card-thumbnail img {
  max-width: 100%;
  border-radius: 50%;
}

.wrapper__list-slider .slide-button-list {
  top: 107px;
  height: auto;
}

.wrapper__list-slider .slide-button-list a {
  width: 28px;
  height: 52px;
  background: url(../../assets/images/list_slides_navi.png) no-repeat;
}

.wrapper__list-slider .slide-button-list a:hover {
  background-position-y: -52px;
}

.wrapper__list-slider .slide-button-list .right-button {
  background-position: -52px 0;
}

.list-slide-screen {
  overflow: hidden;
  position: relative;
  max-width: 100%;
  height: 363px;
}

.list-slide-screen .badge-box {
  height: 24px;
  text-align: center;
}

.list-slide-screen .badge-box span {
  display: inline-block;
  padding: 6px 0 5px;
  background: #c6a8a5;
  width: 62px;
  font-size: 11px;
  line-height: 12px;
  color: #fff;
}

.list-slide {
  width: 10000%;
}

.list-card__content-box {
  padding: 16px 10px 12px 10px;
  height: 124px;
}

.list-card__content-box .list-card-title {
  font-family: "Noto Sans KR Bold", sans-serif;
  font-size: 16px;
  margin: 0;
  letter-spacing: -0.07em;
  color: #000;
  width: 100%;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-card__content-box .description {
  margin: 0;
  width: 100%;
  font-size: 13px;
  color: #666;
  min-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 4px;
}

.list-card__content-box .start-rating-box {
  margin-bottom: 7px;
  height: 17px;
}

.list-card__content-box .selling-price {
  font-size: 26px;
  color: #2ac1bc;
  font-weight: bold;
  vertical-align: middle;
  line-height: 1;
  letter-spacing: -0.04em;
  margin-right: 5px;
}

.list-card__content-box .price-box {
  text-align: center;
}

.disable-btn {
  pointer-events: none;
}

.mock {
  height: 214px;
}

.wide-link {
  float: left;
  display: block;
  margin: 38px auto 50px;
  padding: 17px 0 15px;
  width: 958px;
  text-align: center;
  font-size: 16px;
  color: #444;
  border: 1px solid #d7d7d7;
  cursor: pointer;
}

.list-card-pad {
  float: left;
  width: 215px;
  margin: 0px 15px 8px;
  overflow: hidden;
  height: 363px;
}

.banner__slide-list {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.banner__slide-list img {
  object-fit: cover;
  min-width: 980px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.left {
  float: left;
}

.right {
  float: right;
}

.wrapper__header-user-menu,
.wrapper__header-body,
.wrapper__header-main-menu {
  padding-left: 6.36%;
  padding-right: 6.36%;
}

.header__body:after,
.header__user-menu:after,
.header__main-menu:after, .main__banner-slider-pagination:after, .main__sub-banners--wrapper:after, .tab-button-list:after, .tab-card-list:after, .wrapper__list-slider:after, .wrapper__list-slider-screen:after, .list-slide:after, .grid:after {
  display: block;
  clear: both;
  content: '';
}

.left {
  float: left;
}

.right {
  float: right;
}

.wrapper__header-user-menu,
.wrapper__header-body,
.wrapper__header-main-menu {
  padding-left: 6.36%;
  padding-right: 6.36%;
}

.header__body:after,
.header__user-menu:after,
.header__main-menu:after, .main__banner-slider-pagination:after, .main__sub-banners--wrapper:after, .tab-button-list:after, .tab-card-list:after, .wrapper__list-slider:after, .wrapper__list-slider-screen:after, .list-slide:after, .grid:after {
  display: block;
  clear: both;
  content: '';
}

.grid {
  margin: 0 0 20px 0;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
}

.grid [class*='col-']:last-of-type {
  padding-right: 0;
}

.col-1 {
  width: 8.33333%;
}

.offset-1 {
  margin-left: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.col-3 {
  width: 25%;
}

.offset-3 {
  margin-left: 25%;
}

.col-4 {
  width: 33.33333%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.col-6 {
  width: 50%;
}

.offset-6 {
  margin-left: 50%;
}

.col-7 {
  width: 58.33333%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.col-9 {
  width: 75%;
}

.offset-9 {
  margin-left: 75%;
}

.col-10 {
  width: 83.33333%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.offset-11 {
  margin-left: 91.66667%;
}

.col-12 {
  width: 100%;
}

.offset-12 {
  margin-left: 100%;
}

.scroll-button-list {
  position: fixed;
  bottom: 70px;
  right: 5%;
  z-index: 1000;
}

.scroll-button-list a {
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-indent: -3000px;
  background: url(../../assets/images/scrollBtn.png);
}

.scroll-button-list .down-button {
  background-position: 0 -50px;
}

/*# sourceMappingURL=app.css.map */